{
	# Expose admin API for Prometheus metrics scraping
	admin :2019

	# Order rate_limit directive before basic_auth in the handler chain
	order rate_limit before basic_auth

	acme_dns cloudflare {file./etc/caddy/cloudflare_token} {
		resolvers 1.1.1.1
	}
}

${service_blocks}
